<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myvipclubs.member" version="1.3.3" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MyVIPClubs Members</name>
    <description>Made with Monaca (http://monaca.mobi)</description>
    <author />
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="hdpi" src="www/img/android/hdpi.png" />
        <icon density="mdpi" src="www/img/android/mdpi.png" />
        <icon density="xhdpi" src="www/img/android/xhdpi.png" />
        <icon density="xxhdpi" src="www/img/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="www/img/android/xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="deployment-target" value="8.0" />
        <preference name="BackupWebStorage" value="local" />
        <icon height="29" src="www/img/ios/Icon-29.png" width="29" />
        <icon height="58" src="www/img/ios/Icon-29@2x.png" width="58" />
        <icon height="87" src="www/img/ios/Icon-29@3x.png" width="87" />
        <icon height="180" src="www/img/ios/Icon-180@3x.png" width="180" />
        <icon height="60" src="www/img/ios/iIcon-60.png" width="60" />
        <icon height="120" src="www/img/ios/Icon-120.png" width="120" />
        <icon height="76" src="www/img/ios/Icon-76.png" width="76" />
        <icon height="152" src="www/img/ios/Icon-76@2x.png" width="152" />
        <icon height="40" src="www/img/ios/Icon-40.png" width="40" />
        <icon height="80" src="www/img/ios/Icon-40@2x.png" width="80" />
        <icon height="167" src="www/img/ios/Icon-83.5@2x.png" width="167" />
        <splash height="960" src="www/img/launch/Default@2x.png" width="640" />
        <splash height="480" src="www/img/launch/Default.png" width="320" />
        <splash height="1024" src="www/img/launch/Default-Portrait_iPad.png" width="768" />
        <splash height="2048" src="www/img/launch/Default-Portrait_iPad@2x.png" width="1536" />
        <splash height="768" src="www/img/launch/iPad_landscape.png" width="1024" />
        <splash height="1536" src="www/img/launch/iPad_landscape@2x.png" width="2048" />
        <splash height="960" src="www/img/launch/iPhone_small.png" width="640" />
        <splash height="1136" src="www/img/launch/Default-568h@2x.png" width="640" />
        <splash height="1334" src="www/img/launch/Default-667h@2x.png" width="750" />
        <splash height="2208" src="www/img/launch/Default-736@2x.png" width="1242" />
        <splash height="1242" src="www/img/launch/iPad_landscape_large.png" width="2208" />
    </platform>
    <preference name="orientation" value="portrait" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="permissions" value="none" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="default" />
    <preference name="loglevel" value="DEBUG" />
    <preference name="AndroidLaunchMode" value="singleTop" />
    <preference name="ErrorUrl" value="" />
    <preference name="Fullscreen" value="false" />
    <preference name="KeepRunning" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value=".25" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="TopActivityIndicator" value="gray" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="phonegap-version" value="cli-6.3.0" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="phonegap-plugin-push" source="npm" spec="1.5.3" />
    <gap:plugin name="com.paypal.cordova.mobilesdk" version="3.1.2" />
    <gap:plugin name="card.io.cordova.mobilesdk" source="npm" />
    <gap:plugin name="cordova-plugin-device" />
    <gap:plugin name="cordova-plugin-inappbrowser" />
    <gap:plugin name="cordova-plugin-splashscreen" />
    <gap:plugin name="cordova-plugin-geolocation" />
    <gap:plugin name="cordova-plugin-compat" />
    <gap:plugin name="cordova-plugin-network-information" />
    <gap:plugin name="cordova-plugin-fastrde-checkgps" source="npm" />
    <gap:plugin name="cl.rmd.cordova.dialoggps" source="npm" />
    <gap:plugin source="git" spec="https://github.com/rodrigo-martinezd/cordova-dialog-gps.git" />
    <gap:plugin name="cordova-plugin-intercom" version="~3.0.11" />
    <!-- <gap:plugin name="cordova-plugin-firebase" spec="0.1.12" /> -->
    <!-- <gap:plugin name="cordova-plugin-googleplayservices" /> -->
    <gap:splash src="splash.png" />
    <feature name="LocalStorage">
        <param name="ios-package" value="CDVLocalStorage" />
    </feature>
    <preference name="UIWebViewDecelerationSpeed" value="normal" />
    <preference name="monaca:AndroidIsPackageNameSeparate" value="false" />
    <preference name="monaca:targetFamilyiPhone" value="1" />
    <preference name="monaca:targetFamilyiPad" value="1" />
    <preference name="WindowsStorePublisherName" value="MyVIPClubs" />
    <preference name="WindowsStoreIdentityName" value="3ec8201c-815f-8f6a-4387-854e08de8f33" />
    <preference name="intercom-app-id" value="yxdjvdua" />
    <preference name="intercom-ios-api-key" value="ios_sdk-21f60eb9defaa4f0ba31a42a4ac1e7d44697264a" />
    <preference name="intercom-android-api-key" value="android_sdk-c6c8f14812f9ea3f08264bcf8c4177d64d504877" />
    <preference name="intercom-android-sender-id" value="30879657255" />
    <engine name="android" spec="~5.1.1" />
    <plugin name="cordova-plugin-firebase" spec="~0.1.12" />
</widget>
